.box1{
    margin: 0;

    .text1{
        padding: 3em 2em 2em 2em;
        font-size: 1.8em;
        color: white;
        font-weight: 600;
    }
    
    .text2{
        padding: 0em 2em 2em 2em;
        font-size: 1.3em;
        color: white;
        font-weight: 400;
        margin-bottom: 20%;
    }
    .icon {
    
        /* width: 4em; */
    
        padding: 6px 15px ;
        height: 8vh;
        color: white ;
        border-radius: 100%;
        background-color: #f77f00;
        
    }
}
@media (max-width: 768px) {
    .box {
        .icon{
            margin-top: 10%;
        }
}}